* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

/* Estilos para la barra de navegacion */
header {
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  top: 0;
  position: sticky;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.25rem;
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0.625rem 0.313rem 0.313rem rgba(0, 0, 0, 0.6);
  z-index: 1000; /* Mayor valor de z-index para asegurar que esté sobre el fondo */
}

nav ul {
  margin: 0;
  padding: 6.25rem;
}
nav ul li {
  margin: 0 1.563rem;
}

nav ul li a {
  text-decoration: none; /*se elimina el subrayado a los elementos*/
  color: #ffffff;
}
nav ul li a:hover {
  color: #000000;
  background-color: #ffd90092;
  border-radius: 5px;
}

.logo {
  margin-top: 2rem;
  margin-left: -7rem;
  width: 12rem;
}
/*ckeck para menú hamburguesa que no es visible*/
nav input[type="checkbox"] {
  display: none;
}

nav label {
  display: none;
  cursor: pointer;
}

/*queries para pantallas pequeñas*/
@media only screen and (max-width: 768px) {
 
  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #403b4a;
    background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
    background: linear-gradient(to right, #e7e9bb, #403b4a);
    padding: 1rem;
    box-shadow: 0 0.125rem 0.313rem #00000033;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }

  nav li {
    line-height: 1.875rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    margin: 0;
    text-align: center;
  }

  nav a {
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }

  input[type="checkbox"]:checked ~ ul {
    display: flex;
    flex-direction: column;
  }

  nav label {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
  nav li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 10px 0 rgba(255, 255, 0, 0.547);
  }
  nav ul li a:hover {
    color: #000000;
    background-color: transparent;
  }

  /*barras del menú hamburguesa que ahora son visibles*/
  label i {
    display: block;
    color: #ffd900;
  }
  label i:hover {
    color: white;
  }
}
/*media queries para pantallas medianas*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 1rem 0; /* Ajusta el espaciado interior */
  }
  nav ul li {
    margin: 0.5rem 0.8rem; /* Ajusta el espaciado entre elementos de la lista */
  }
}

.texto-fijo {
  position: relative;
  z-index: 2;
}
.titulo {
  color: white;
  font-size: 3.5rem;
  position: relative;
  font-weight: bold;
}

h4.titulo {
  margin-top: 2rem;
  color: white;
  font-size: 2.5rem;
}

.banner {
  position: relative;
  min-width: 90vw;
  min-height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/vista-lujoso-pasillo-hotel\ _2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  animation: fadeIn 3s; /* Aplica la animación a la imagen de fondo */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .titulo {
    font-size: 2.8rem;
  }
  .banner h4 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .titulo {
    font-size: 3.5rem;
  }
  .banner h4 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}
section.anuncio {
  margin-top: 2.5rem;
  text-align: center;
}
section.anuncio h1 {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}
.check {
  padding: 20px;
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #434343, #000000);
}
.container .check i {
  color: white;
  display: inline-block;
  margin-right: 10px;
}

.booking {
  background: rgba(99, 99, 99, 0.5);
  background: -webkit-linear-gradient(
    to right,
    rgba(161, 171, 88, 0.5),
    rgba(99, 99, 99, 0.5)
  );
  background: linear-gradient(
    to right,
    rgba(161, 171, 88, 0.5),
    rgba(99, 99, 99, 0.5)
  );
  width: 25rem;
  padding: 5px;
 
  color: #ffffffc9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

label {
  font-weight: bold;
}
input[type] {
  background-color: rgba(245, 245, 245, 0.788);
  border-color: #ffd90092;
}

select.form-select {
  background-color: rgba(245, 245, 245, 0.788);
  border-color: #ffd90092;
}

.payments {
  width: 90%;
  padding: 1.25rem;
  background-color: #403b4ac3;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
.linea-medio {
  display: flex;
  align-items: center;
}

.linea-medio::before,
.linea-medio::after {
  content: "";
  flex: 0.5;
  border-top: 1px solid white;
  margin: 0 10px;
}

.advert img {
  width: 18rem;
  margin-top: 1rem;
}
.circle {
  background-image: linear-gradient(
    to top,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
  width: 14.375rem;
  height: 14.375rem;
  border-radius: 50%; /* Esto crea el círculo */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.875rem;

  opacity: 85%;
  cursor: pointer;
}
.circle-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  width: 14.375rem;
  height: 14.375rem;
  border-radius: 50%; /* Esto crea el círculo */
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  text-align: center;
  font-size: 1rem;
  opacity: 85%;
  cursor: pointer;
}

/* Efecto opaco para los circulos */
.advert.circle,
.advert.circle-2 {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.circle:hover,
.circle-2:hover {
  opacity: 0.5;
}

.tachado {
  text-decoration: line-through;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .advert img {
    display: none;
  }
}

/*contenedor del footer*/
.foot-container {
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  width: 100%;
  display: grid;
  grid-template: 4.25rem 15rem / 0.8fr 0.8fr 0.8fr;
  grid-template-areas:
    "up up up"
    "left center right";
  gap: 2rem;
  margin: 0 auto;
}

.up {
  grid-area: up;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
.up h1 {
  font-weight: bold;
}

.footer-logo {
  width: 10rem;
  margin-top: 1.2rem;
}

.left {
  grid-area: left;
  display: flex;
  justify-content: center;
  margin-top: -1rem;
}

.left ul li {
  list-style: none;
  margin-top: 0.5rem;
}

.right {
  grid-area: right;
  text-align: center;
  margin-top: -1rem;
}

.right ul {
  display: flex;
  justify-content: center;
}

.right ul li {
  list-style: none;
}

.center {
  grid-area: center;
  text-align: center;
  margin-top: -1rem;
}

.list-title {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.center img {
  width: 5rem;
  border-radius: 15%;
  margin-top: 0.5rem;
}

/*íconos de las redes sociales en el footer*/
.fa-brands {
  margin-top: 1rem;
  padding: 0.313rem;
  color: #ffffff;
}

.fa-brands:hover {
  color: #fbff00c0;
}

.line {
  border-top: 0.063rem solid #ffffff;
  padding: 0;
}

/*final del footer*/
.copyright {
  display: flex;
  margin: 0.5rem auto;
  justify-content: center;
  color: #ffffff;
}

/* Media query para pantallas más pequeñas*/
@media only screen and (max-width: 600px) {
  .foot-container {
    grid-template: auto / 1fr;
    grid-template-areas:
      "up"
      "left"
      "right";
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .up {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .left,
  .right {
    text-align: center;
  }
  .right {
    margin-bottom: 1.5rem;
  }
  .footer-logo {
    width: 10rem;
    margin-top: 0.5rem;
  }
  .center {
    display: none;
  }
  .line {
    margin-top: -1rem;
  }
  .copyright {
    text-align: center;
  }
}
/*media queries para dispositivos medianos*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .foot-container {
    grid-template: 4.25rem 15rem / 1fr 1fr;
    grid-template-areas:
      "up up"
      "left right";
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .footer-logo {
    width: 10rem;
    margin-top: 0.5rem;
    margin-left: -6rem;
  }
  .up {
    margin-top: 1rem;
  }
  .right {
    margin-bottom: 1.5rem;
  }
  .center {
    display: none;
  }
  .line {
    margin-top: -1rem;
  }
  .copyright {
    text-align: center;
  }
}
