* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

/* Estilos para la barra de navegacion */
header {
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  top: 0;
  position: sticky;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.25rem;
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0.625rem 0.313rem 0.313rem rgba(0, 0, 0, 0.5);
  z-index: 1000;
  /* Mayor valor de z-index para asegurar que esté sobre el fondo */
}

nav ul {
  display: flex; /*se ubica en línea la lista*/
  margin: 0rem;
  padding: 6.25rem;
}

nav ul li {
  list-style: none; /*se eliminan las viñetas de los elementos de la lista*/
  margin: 0 1.563rem;
}

nav ul li a {
  text-decoration: none; /*se elimina el subrayado a los elementos*/
  color: #ffffff;
}

nav ul li a:hover {
  color: #000000;
  background-color: #ffd90092;
  border-radius: 5px;
}

.logo {
  margin-top: 1.5rem;
  width: 12rem;
}

/*ckeck para menú hamburguesa que no es visible*/
nav input[type="checkbox"] {
  display: none;
}

nav label {
  display: none;
  cursor: pointer;
}

/*queries para pantallas pequeñas*/
@media only screen and (max-width: 768px) {
  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #403b4a;
    background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
    background: linear-gradient(to right, #e7e9bb, #403b4a);
    padding: 1rem;
    box-shadow: 0 0.125rem 0.313rem #00000033;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }

  nav li {
    line-height: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    margin: 0;
    text-align: center;
  }

  nav li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 10px 0 rgba(255, 255, 0, 0.547);
  }

  nav ul li a:hover {
    color: #000000;
    background-color: transparent;
  }

  nav a {
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }

  input[type="checkbox"]:checked ~ ul {
    display: flex;
    flex-direction: column;
  }

  nav label {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
  /*barras del menú hamburguesa que ahora son visibles*/
  label i {
    display: block;
    color: #ffd900;
  }
  label i:hover {
    color: white;
  }
}

/*media queries para pantallas medianas*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 1rem 0; /* Ajusta el espaciado interior */
  }
  nav ul li {
    margin: 0.5rem 0.8rem; /* Ajusta el espaciado entre elementos de la lista */
  }
}
.banner {
  position: relative;
  min-width: 90vw;
  min-height: 63vh;
  font-family: "Montserrat", sans-serif;
}
.banner {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/vista-lujoso-espacio-interior-hotel\ _2.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.texto-fijo {
  position: relative;
  z-index: 2;
}

.titulo {
  color: white;
  font-size: 3.5rem;
  position: relative;
}

h4.titulo {
  margin-top: 2rem;
  color: #ffffff;
  font-size: 2.5rem;
}

/*Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .titulo {
    font-size: 2.8rem;
  }
  .banner h4 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
  }
}
/*media queries para dispositivos medianos*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .titulo {
    font-size: 3.5rem;
  }
  .banner h4 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

/* seccion promociones */
.promociones h1 {
  margin-top: 1.5rem;
  font-size: 2.8rem;
  color: #ffd90092;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

/*Contenedor con la presentacion*/
.grid-container-prom {
  display: grid;
  grid-template-rows: 1fr; /* Una fila */
  width: 90%; /* Ancho del contenedor del grid */
  margin: 0 auto; /* Centrar el contenedor */
}

.item2 {
  margin-top: 1rem;
  padding: 0.625rem;
  text-align: center;
  color: #ffffffb9;
}

.item2 h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

/* seccion promociones */
.grid-prom {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho */
  gap: 1rem; /* Espacio entre las columnas */
  width: 80%;
  margin: 2rem auto;
  box-shadow: 0 0 10px 0 #000000a3;
}
.columna-izquierda {
  padding: 1.25rem;
}
.columna-izquierda img {
  width: 28rem;
  border: 1px solid #ffd90092;
}
.columna-derecha {
  display: grid;
  grid-template-rows: auto auto 3.5rem;
  gap: 10px; /* Espacio entre las filas */
  padding: 20px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.fila-contenedora,
.fila-contenedora-1 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  text-align: center;
}
.celda-promo {
  border: 2px solid rgba(139, 139, 0, 0.662);
  box-shadow: 0 0 10px rgba(139, 139, 0, 0.662);
  padding: 1rem;
}

/*botones reservar*/
.boton-centrado {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 0.625rem 1.25rem;
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Estilos para pantallas medianas (hasta 992px de ancho) */
@media screen and (max-width: 1024px) {
  .grid-prom {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
  }
  .fila-contenedora,
  .fila-contenedora-1 {
    flex-direction: column;
  }
  .celda-promo {
    text-align: center;
  }
  .columna-izquierda img {
    width: 100%;
    margin: 0 auto;
  }
}

/* Estilos para pantallas pequeñas (hasta 480px de ancho) */
@media screen and (max-width: 480px) {
  .columna-izquierda img {
    width: 100%;
  }
}

.back-to-top {
  display: grid;
  grid-template-rows: 1fr;
  margin: 1rem auto;
}

.centro {
  display: flex;
  justify-content: center;
}

/*boton de volver*/
.btn-back {
  background-color: transparent;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5);
}

.btn-back:hover {
  background-color: #ffffff;
  color: #000000;
}

/*contenedor del footer*/
.foot-container {
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  width: 100%;
  display: grid;
  grid-template: 4.25rem 15rem / 0.8fr 0.8fr 0.8fr;
  grid-template-areas:
    "up up up"
    "left center right";
  gap: 2rem;
  margin: 0 auto;
}

.up {
  grid-area: up;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.footer-logo {
  width: 10rem;
  margin-top: 1.2rem;
}

.left {
  grid-area: left;
  display: flex;
  justify-content: center;
}

.left ul li {
  list-style: none;
  margin-top: 0.5rem;
}

.right {
  grid-area: right;
  text-align: center;
}

.right ul {
  display: flex;
  justify-content: center;
}

.right ul li {
  list-style: none;
}

.center {
  grid-area: center;
  text-align: center;
}

.list-title {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.center img {
  width: 5rem;
  border-radius: 15%;
  margin-top: 0.5rem;
}

/*íconos de las redes sociales en el footer*/
.fa-brands {
  margin-top: 1rem;
  padding: 0.313rem;
  color: #ffffff;
}

.fa-brands:hover {
  color: #fbff00c0;
}

.line {
  border-top: 0.063rem solid #ffffff;
  padding: 0;
}

/*final del footer*/
.copyright {
  display: flex;
  margin: 0.5rem auto;
  justify-content: center;
  color: #ffffff;
}

/* Media query para pantallas más pequeñas*/
@media only screen and (max-width: 600px) {
  .foot-container {
    grid-template: auto / 1fr;
    grid-template-areas:
      "up"
      "left"
      "right";
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .up {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .left,
  .right {
    text-align: center;
  }
  .right {
    margin-bottom: 1.5rem;
  }
  .footer-logo {
    width: 10rem;
    margin-top: 0.5rem;
  }
  .center {
    display: none;
  }
  .line {
    margin-top: -1rem;
  }
  .copyright {
    text-align: center;
  }
}
/*media queries para dispositivos medianos*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .foot-container {
    grid-template: 4.25rem 15rem / 1fr 1fr;
    grid-template-areas:
      "up up"
      "left right";
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .footer-logo {
    width: 10rem;
    margin-top: 0.5rem;
    margin-left: -6rem;
  }
  .up {
    margin-top: 1rem;
  }
  .right {
    margin-bottom: 1.5rem;
  }
  .center {
    display: none;
  }
  .line {
    margin-top: -1rem;
  }
  .copyright {
    text-align: center;
  }
}
