* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

/* Estilos para la barra de navegacion */
header {
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  top: 0;
  position: sticky;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.25rem;
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0.625rem 0.313rem 0.313rem #00000080;
  z-index: 1000; /* Mayor valor de z-index para asegurar que esté sobre el fondo */
}

nav ul {
  display: flex; /*se ubica en línea la lista*/
  margin: 0rem;
  padding: 6.25rem;
}
nav ul li {
  list-style: none; /*se eliminan las viñetas de los elementos de la lista*/
  margin: 0 1.563rem;
}

nav ul li a {
  text-decoration: none; /*se elimina el subrayado a los elementos*/
  color: #ffffff;
}
nav ul li a:hover {
  color: #000000;
  background-color: #ffd90092;
  border-radius: 5px;
}

.logo {
  margin-top: 1.5rem;
  margin-left: -8rem;
  width: 12rem;
}

/*ckeck para menú hamburguesa que no es visible*/
nav input[type="checkbox"] {
  display: none;
}

nav label {
  display: none;
  cursor: pointer;
}

/*queries para pantallas pequeñas*/
@media only screen and (max-width: 768px) {
  nav {
    background: #403b4a;
    background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
    background: linear-gradient(to right, #e7e9bb, #403b4a);
  }

  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #403b4a;
    background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
    background: linear-gradient(to right, #e7e9bb, #403b4a);
    padding: 1rem;
    box-shadow: 0 0.125rem 0.313rem #00000033;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1001;
  }

  nav li {
    line-height: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid #333;
    margin: 0;
    text-align: center;
  }
  nav li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 10px 0 rgba(255, 255, 0, 0.547);
  }
  nav ul li a:hover {
    color: #000000;
    background-color: transparent;
  }
  nav a {
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }

  input[type="checkbox"]:checked ~ ul {
    display: flex;
    flex-direction: column;
  }

  nav label {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }

  .logo {
    margin-left: -15rem;
  }

  .fa-location-dot {
    display: none;
  }
  /*barras del menú hamburguesa que ahora son visibles*/
  label i {
    display: block;
    color: #ffd900;
  }
  label i:hover {
    color: #ffffff;
  }
}

/*fuente para los titulos de las secciones*/
section h1 {
  font-family: "Cormorant Garamond", serif;
}

.habitaciones h1 {
  margin-top: 1.5rem;
  font-size: 2.5rem;
  color: #ffd90092;
  text-align: center;
}

/*Contenedor con la presentacion*/
.grid-container-room {
  display: grid;
  grid-template-rows: 1fr; /* Una fila */
  width: 90%;
  margin: 0 auto; /* Centrar el contenedor */
}

.item2 {
  margin-top: 1rem;
  padding: 0.625rem;
  text-align: center;
  color: #ffffffb9;
}

.item2 h2 {
  font-size: 1.2rem;
  text-transform: uppercase;
}
.item2 ul {
  display: flex;
}
.item2 ul li {
  list-style: none;
}

/* seccion habitaciones */
/* Estilos para las tarjetas */
.cards {
  display: flex; /*para poner las cards en linea*/
}

.card {
  flex: 50%;
  margin: 2rem;
  border: 1px solid #ffd90092;
  border-radius: 5px;
  display: flex;
  flex-direction: column; /*ubica el footer del card siempre por debajo*/
  text-align: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}

.card .content {
  padding: 0.5rem;
  flex-grow: 1; /*permite al contenido crecer dejando fijo el footer*/
  flex-shrink: 1; /*permite al contenido achicarse dejando fijo el footer*/
  color: #ffd90092;
}

.card .content img {
  width: 20rem;
}

.card .footer {
  padding: 1.25rem;
}

.back-to-top {
  display: grid;
  grid-template-rows: 1fr;
  margin: 1rem auto;
}

.centro {
  display: flex;
  justify-content: center;
}

/*boton  volver*/
.btn {
  background-color: transparent;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  border: 1px solid #ffd90092;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(255, 255, 0, 0.547);
}

.btn:hover {
  background-color: #ffffff;
  color: #000000;
}

.footer {
  margin-top: 1rem;
}

.btnModal {
  margin-top: 1rem;
  background-color: transparent;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  border: 1px solid #ffffff;
  width: 40%;
}

.btnModal:hover {
  background-color: #ffffff;
  color: #000000;
}

.contModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000000b3;
  /* z-index: 1000; */
}

.contModal .modal {
  position: relative;
  width: 46%;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #ccc;
  color: #000000;
  border-radius: 10px;
  padding: 2%;
  animation: animModal 1s ease;
}
.contModal .modal h2 {
  color: rgb(140, 105, 15);
  font-size: 1.5rem;
}

.contModal .modal .closeModal {
  color: rgb(140, 105, 15);
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  right: 0.625rem;
  top: 0.625rem;
  cursor: pointer;
}
.contModal .modal .closeModal:hover {
  color: #989898;
}

.contModal .modal .contenidoModal {
  font-size: 1rem;
  margin-top: 0.938rem;
}

@keyframes animModal {
  0% {
    opacity: 0.3;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
.linea-medio {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.linea-medio::before,
.linea-medio::after {
  content: "";
  flex: 0.4;
  border-top: 1px solid #000000;
  margin: 0 0.625rem;
}

/*contenedor del footer*/
.foot-container {
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  width: 100%;
  display: grid;
  grid-template: 4.25rem 15rem / 0.8fr 0.8fr 0.8fr;
  grid-template-areas:
    "up up up"
    "left center right";
  justify-content: start;
  gap: 2.5rem;
}

.up {
  grid-area: up;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.left {
  grid-area: left;
  margin-left: 1rem;
  display: flex;
  justify-content: center;
}

.left ul li {
  list-style: none;
  margin-top: 0.5rem;
}

.right {
  grid-area: right;
  text-align: center;
}

.right ul {
  display: flex;
  justify-content: center;
}

.center {
  grid-area: center;
  text-align: center;
  
}
.center img {
  width: 5rem;
  border-radius: 15%;
  margin-top: 0.5rem;
}

.footer-logo {
  width: 10rem;
  margin-top: 2rem;
  margin-left: 5rem;
}
/*íconos de las redes sociales en el footer*/
.fa-brands {
  margin-top: 1rem;
  padding: 0.313rem;
  color: white;
}

.fa-brands:hover {
  color: #fbff00c0;
}

.line {
  border-top: 0.063rem solid #ffffff;
  padding: 0;
}

/*final del footer*/
.copyright {
  display: flex;
  margin: 0.5rem auto;
  justify-content: center;
  color: #ffffff;
}
