* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

/* Estilos para la barra de navegacion */
header {
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  top:0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.25rem;
  background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de transparencia */
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
  z-index: 1000; /* Mayor valor de z-index para asegurar que esté sobre el fondo */
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
}


nav ul {
  display: flex; /*se ubica en línea la lista*/
  margin: 0rem;
  padding: 6.25rem;
}
nav ul li {
  list-style: none; /*se eliminan las viñetas de los elementos de la lista*/
  margin: 0 1.563rem;
}

nav ul li a {
  text-decoration: none; /*se elimina el subrayado a los elementos*/
  color: #ffffff;
}
nav ul li a:hover {
  color: #000000;
  background-color: #ffd90092;
  border-radius: 5px;
}

.logo {
  margin-top: 1.5rem;
  margin-left: -5rem;
  width: 12rem;
}

/* background principal*/
.banner {
  position: relative;
  min-width: 90vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/vista-lujoso-espacio-interior-hotel.jpg); 
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.titulo {
  color: white;
  font-size: 5rem;
  position: relative;
}
h4.titulo {
  margin-top: 2rem;
  color: white;
  font-size: 3rem;
}

.linea-medio{
  display:flex;
  align-items: center;
}

.linea-medio::before,
.linea-medio::after {
  content: "";
  flex: 0.5;
  border-top: 1px solid white; /* Cambia el color y estilo de la línea según tus preferencias */
  margin: 0 10px; /* Espacio entre el texto y las líneas */
}

.fade-in-text {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*titulo principal*/
.presentacion h1 {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: #ffd90092;
  text-align: center;
}
/*Contenedor con la presentacion*/
.grid-container {
  display: grid;
  grid-template-rows: 1fr; /* Una fila */
  width: 90%; /* Ancho del contenedor del grid */
  margin: 0 auto; /* Centrar el contenedor */
}

.item2 {
  margin-top: 1rem;
  background: #636363;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px;
  font-size: 1.2rem;
  color: #000000;
  border: 1px solid #000000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.64) ;
}

/* Seccion donde se muestran imagenes de habitaciones */
 Section.rooms h1 {
  color: #ffd90092;
  font-size: 2rem;
  text-align: center;
} 
.grid-rooms {
  display: grid;
  grid-template: 2.25rem 28rem / 1fr 1fr 1fr;
  grid-template-areas:
    "arriba arriba arriba"
    "izquierda centro derecha";
  gap: 1.563rem;
  width: 80%; /* Ancho del contenedor del grid */
  margin: 3rem auto;
  color:#ffd90092;
}

.arriba {
  grid-area: arriba;
  text-align: center;
}
.grid-item {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

/* .grid-item img {
  width: 20rem;
  align-items: center;
  border: 0.063rem solid white;
  border-radius: 0.625rem;
  box-shadow: 0 0 10px 0 #ffd90092;
  cursor: pointer;
  transition: 1s;
}
.grid-item img:hover {
  transform: scale(1.03);
  transition: 0.9s;
  box-shadow: 0 0 10px 0 white;
} */

/* .izquierda {
  grid-area: izquierda;
  text-align: center;
  border-radius: 0.625rem;
  font-size: 1.5rem;
} */

.centro {
  grid-area: centro;
  text-align: center;
  border-radius: 0.625rem;
  font-size: 1.5rem;
}

/* .derecha {
  grid-area: derecha;
  text-align: center;
  border-radius: 0.625rem;
  font-size: 1.5rem;
} */
.slide {
  position: relative;
  box-shadow: 0px 1px 6px  #ffd90092;
  margin-top: 26px;
  width: 640px;
  
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc( 350px + 3em);
  
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  
}
.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.slide-item p {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para el texto */
  color: #fff; /* Color de texto */
  padding: 10px; /* Espaciado interno para el texto */
  z-index: 1; /* Coloca el texto por encima de la imagen */
  text-align: center;
  font-size: 1.5rem;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3, 
#slide-4:checked ~ .control-4 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador 
    li:nth-child(4) .slide-circulo {
  color: #428bca;
}


/* Seccion de servicios */
Section.servicios h1 {
  color: #ffd90092;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
} 

.grid-services {
  display: grid;
  grid-template-rows: repeat(2, 0.5fr); /* Dos filas */
  grid-template-columns: repeat(2,1fr); /* Dos columnas de igual ancho*/
  grid-gap: 20px; /* Espacio entre elementos */
  width: 90%; /* Ancho del contenedor del grid */
  align-items: center;
  margin: 3rem auto; /* Centrar el contenedor */
  
}
.grid-item2 {
  display: flex;
  flex-direction: column;
  align-items:center; /* Centrar verticalmente */
}

.grid-item1 article {
  background: #636363;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000000;
  font-size: 1.2rem;
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.64) ;
}
.grid-item2 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 223, 0, 0.5); /* Dorado suave */
}
.grid-item2 ul{
  margin-top:-1rem;
}
.grid-item2 ul li {
  list-style: none;
  margin-top: 0.5rem;
}
.grid-item2 ul li i {
  color: #ffd90092;
}

/* seccion restaurante*/
.grid-rest {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  width: 90%;
  gap: 20px; /* Espacio entre las columnas */
  padding: 20px;
  align-items: center;/*centra verticalmente*/
  margin: 3rem auto; /* Centrar el contenedor */
}

  Section.restaurant h1 {
  color: #ffd90092;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}  

.grid-rest img {
  width: 90%;
  border: 0.063rem solid white;
  border-radius: 0.625rem;
  box-shadow: 0 0 10px 0 #ffd90092;
  
}
.grid-rest2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 0.5rem;
  color: #ffd90092;
}

.rest2 article {
  margin-top: 1rem;
  background: #636363;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:black;
  font-size: 1.2rem;
  padding: 20px;
  border: 1px solid black; 
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.64) ;
 
}

/* Seccion eventos */
.grid-event{
  display:grid;
  grid-template-columns: 1fr 1fr ;
  width:90%;
  gap: 20px; /* Espacio entre las columnas */
  padding: 20px;
  align-items: center;
  margin: 3rem auto; /* Centrar el contenedor */
  
}

Section.eventos h1 {
  color: #ffd90092;
  font-size: 2rem;
  text-align: center;
  margin-bottom:0.5rem;
}

.grid-event img {
  width: 90%;
  border: 0.063rem solid white;
  border-radius: 0.625rem;
  box-shadow: 0 0 10px 0 #ffd90092;
}
.grid-event1 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar verticalmente */
}

.event1 article{
  margin-top: 1rem;
  background: #636363;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a2ab58, #636363);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a2ab58, #636363); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #000000;
  font-size: 1.2rem;
  padding: 20px;
  border: 1px solid #000000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.64) ;
}

.grid-iframe {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding:30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  margin: 0 auto; /* Centrar el contenedor */
}

.grid-iframe h1{
	font-size: 2rem;
  color:#ffd90092;
}
.grid-iframe h2, h4{
    color:#ffffff;
}
.locacion h2, h4 i{
 text-align: start;
  margin:1rem;
}

  
  

/* contenedor con la info del hotel */
.info-container {
  background-color: #403b4a4d;
  display: grid;
  grid-template: 1fr 2fr, repeat(3, 1fr); 
  grid-template-areas:
  "top top top"
  "izq medio der";
   gap: 20px; /* Espacio entre las celdas */
   width:90%;
   margin: 3rem auto; /* Centrar el contenedor */
   justify-content: center;
   }

  .top{
    grid-area:top;
    text-align: center;
    align-items: center;
    color:#ffd90092;
   }
   .top h1{
    font-size: 2rem;

   }
  .izq{
    grid-area:izq;
    text-align:center;
    align-items: center;
    font-size: 1.2rem;
  }
  .medio{
    grid-area:medio;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .medio i{
    color:#ffd90092
  }
  .der{
    grid-area: der;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .izq ul li,
  .der ul li{
    list-style: none;
    margin-top: 0.5rem;
    color:#ffffff;
    text-shadow: 1px 1px 2px rgba(255, 223, 0, 0.5); /* Dorado suave */
  }
  .izq ul li i,
  .der ul li i{
    color:#ffd90092
  }
  
  /*contenedor del footer*/
.foot-container{
  background: #403B4A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E7E9BB, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E7E9BB, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:100%;
  display: grid;
  grid-template: 4.25rem 15rem / 0.8fr 0.8fr 0.8fr;
  grid-template-areas:
  "up up up"
  "left center right";
  justify-content: start;
  gap: 2.5rem;
  }

  footer{
    background-color: #a1ab5891;
  }

.up{
  grid-area:up;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Caveat", cursive;
  font-family: "Montserrat", sans-serif;
}

.left{
  grid-area:left;
  margin-left: 1rem;
  
}

.left ul li{
  list-style: none;
  margin-top: 0.5rem;
}

.right{
  grid-area: right;
}
.center{
  grid-area: center;
  text-align: center;
  align-items: center;
  
}
.left h4,
.center h4,
.right h4 {
  color:black;
}
.center img{
  width: 5rem;
  border-radius: 15%;
  margin-top: 0.5rem;
}
  
.footer-logo{
  width: 10rem; 
  margin-top: 2rem;
  margin-left:5rem;
}
/*íconos de las redes sociales en el footer*/
.fa-brands {
  margin-top: 1rem;
  padding: 0.313rem;
  color:white;
}

.fa-brands:hover {
  color:#fbff00c0;
}

.line {
  border-top: 0.063rem solid #ffffff;
  padding: 0;
  }

/*final del footer*/
.copyright {
  display: flex;
  margin:0 auto;
  justify-content:center;
  color:#ffffff;
}
  
