* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
}

/* Estilos para la barra de navegacion */
header {
  top: 0;
  left: 0;
  z-index: 1000;
}

nav {
  top: 0;
  position: fixed;
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.25rem;
  background-color: rgba(255, 255, 255, 0.302);
  font-size: 1.2rem;
  color: #ffffff;
  box-shadow: 0px 0px 10px #00000080;
  z-index: 1000; /* Mayor valor de z-index para asegurar que esté sobre el fondo */
  transition: top 0.5s ease;
}
/*cambia de color la barra de navegacion cuando se hace scroll*/
nav.scroll-down {
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  box-shadow: 0.625rem 0.313rem 0.313rem #00000080;
}

nav ul {
  display: flex; /*se ubica en línea la lista*/
  margin: 0;
  padding: 6.25rem;
}
nav ul li {
  list-style: none; /*se eliminan las viñetas de los elementos de la lista*/
  margin: 0 1.563rem;
}
nav ul li a {
  text-decoration: none; /*se elimina el subrayado a los elementos*/
  color: #ffffff;
}
nav ul li a:hover {
  color: #000000;
  background-color: #ffd90092;
  border-radius: 5px;
}
.logo {
  margin-top: 1.5rem;
  width: 12rem;
}

/*ckeck para menú hamburguesa que no es visible*/
nav input[type="checkbox"] {
  display: none;
}

nav label {
  display: none;
  cursor: pointer;
}

/*queries para pantallas pequeñas*/
@media only screen and (max-width: 768px) {
  nav {
    background: #403b4a;
    background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
    background: linear-gradient(to right, #e7e9bb, #403b4a);
  }

  nav ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #403b4a;
    background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
    background: linear-gradient(to right, #e7e9bb, #403b4a);
    padding: 1rem;
    box-shadow: 0 0.125rem 0.313rem #00000033;
    box-shadow: 0px 0px 10px #00000080;
    z-index: 1001;
  }

  nav li {
    line-height: 1.875rem;
    border-top: 1px solid #ffffff1a;
    border-bottom: 1px solid #333;
    margin: 0;
    text-align: center;
  }

  nav li:hover {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0 10px 0 #ffff008b;
  }

  nav ul li a:hover {
    color: #000000;
    background-color: transparent;
  }

  .location {
    display: none;
  }

  nav a {
    display: block;
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }

  input[type="checkbox"]:checked ~ ul {
    display: flex;
    flex-direction: column;
  }

  nav label {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
  /*barras del menú hamburguesa que ahora son visibles*/
  label i {
    display: block;
    color: #ffd900;
  }
  label i:hover {
    color: #ffffff;
  }
}

/*media queries para pantallas medianas*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  nav {
    padding: 1rem 0; /* Ajusta el espaciado interior */
  }
  nav ul li {
    margin: 0.5rem 0.8rem; /* Ajusta el espaciado entre elementos de la lista */
  }
  .location {
    display: none;
  }
}

/* background principal*/
.banner {
  position: relative;
  min-width: 90vw;
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/vista-lujoso-espacio-interior-hotel.jpg);
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.502);
}
.titulo {
  margin-top: 2rem;
  color: #ffffff;
  font-size: 4rem;
  position: relative;
}
h4.titulo {
  margin-top: 2rem;
  color: #ffffff;
  font-size: 3rem;
}

.linea-medio {
  display: flex;
  align-items: center;
}
.linea-medio::before,
.linea-medio::after {
  content: "";
  flex: 0.5;
  border-top: 1px solid #ffffff;
  margin: 0 10px;
}

.fade-in-text {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Media query para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .banner {
    background-image: url(../img/wepik-export-20230929230344jTe3-small.jpeg);
    min-height: 65vh;
  }
  .banner::before {
    opacity: 0.7;
  }
  .titulo {
    font-size: 2.8rem;
  }
  .banner h4 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .banner {
    background-image: url(../img/wepik-export-20230930030218Sk1-medium.jpeg);
    min-height: 75vh;
  }
  .titulo {
    font-size: 3.5rem;
  }
  .banner h4 {
    font-size: 2rem;
    margin-top: 1rem;
  }
}

/*titulo principal*/
.presentacion h1 {
  margin-top: 2rem;
  font-size: 2.8rem;
  color: #ffd90092;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

@media only screen and (max-width: 600px) {
  .presentacion h1 {
    font-size: 2.6rem;
  }
}

/*Contenedor con la presentacion*/
.grid-container {
  display: grid;
  grid-template-rows: 1fr; /* Una fila */
  width: 80%; /* Ancho del contenedor del grid */
  margin: 0 auto; /* Centrar el contenedor */
}

.item2 {
  background: rgba(99, 99, 99, 0.7);
  background: -webkit-linear-gradient(
    to right,
    rgba(161, 171, 88, 0.7),
    rgba(99, 99, 99, 0.7)
  );
  background: linear-gradient(
    to right,
    rgba(161, 171, 88, 0.7),
    rgba(99, 99, 99, 0.7)
  );
  padding: 1.25rem;
  font-size: 1.2rem;
  color: #000000;
  box-shadow: 0 0 10px 0 #000000a3;
}

/* Seccion de habitaciones donde está el carrusel */
Section.rooms h1 {
  color: #ffd90092;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

.grid-rooms {
  display: grid;
  grid-template: 2.25rem 28rem / 1fr 1fr 1fr;
  grid-template-areas:
    "arriba arriba arriba"
    "izquierda centro derecha";
  gap: 1.563rem;
  width: 80%; /* Ancho del contenedor del grid */
  margin: 3rem auto;
  color: #ffd90092;
}
.arriba {
  grid-area: arriba;
  text-align: center;
}
.grid-item {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.centro {
  grid-area: centro;
  text-align: center;
  border-radius: 0.625rem;
  font-size: 1.5rem;
}

/*carrusel de imágenes*/
.slide {
  position: relative;
  box-shadow: 0px 1px 6px #ffd90092;
  margin-top: 1.563rem;
  width: 40rem;
}

.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: calc(21.875rem + 3rem);
}

.slide-open:checked + .slide-item {
  position: static;
  opacity: 1;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: auto;
  max-width: 100%;
}
.slide-item p {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  background: #00000080; /* Fondo semitransparente para el texto */
  color: #fff;
  padding: 0.625rem;
  z-index: 1; /* Me aseguro de que el texto quede por encima de la imagen */
  text-align: center;
  font-size: 1.5rem;
}
.slide-control {
  background: #00000047;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 2.5rem;
  height: 2.5rem;
  line-height: 2.188rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 2.5rem;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: #000000cc;
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 2.188rem;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador li:nth-child(3) .slide-circulo,
#slide-4:checked
  ~ .control-4
  ~ .slide-indicador
  li:nth-child(4)
  .slide-circulo {
  color: #428bca;
}
/*fin del carrusel */

/*la clase card está oculta en dispositivos grandes*/
.card {
  display: none;
}

/* Media query para pantallas pequeñas y medianas */
@media only screen and (max-width: 992px) {
  #rooms {
    display: none; /* se quita el carrusel y se cambia por una card*/
  }
  .card {
    flex: 0 0 50%; /* Cambia el tamaño de flex a 50% para que ocupe la mitad del ancho disponible */
    margin: 2rem auto; /* Auto para centrar horizontalmente y mantener el margen vertical */
    border: 1px solid #ffd90092;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 22.5rem;
    background: #232526;
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    background: linear-gradient(to bottom, #414345, #232526);
  }

  .card h1 {
    font-size: 2.5rem;
    font-family: "Cormorant Garamond", serif;
  }

  .card .content {
    padding: 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
    color: #ffd90092;
  }

  .card .content img {
    width: 20rem;
  }

  .card .footer {
    padding: 1.25rem;
  }

  .btnModal {
    margin-top: 1rem;
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
    padding: 0.625rem 1.25rem;
    border: 1px solid #ffffff;
    width: 80%;
  }

  .btnModal:hover {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Seccion de servicios */
.grid-services {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual ancho*/
  gap: 1.25rem;
  width: 80%;
  align-items: center;
  margin: 3rem auto; /* Centrar el contenedor */
}

Section.servicios h1 {
  color: #ffd90092;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: "Cormorant Garamond", serif;
}

.grid-item1 article {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  padding: 1.25rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.grid-item2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item2 ul li {
  color: #ffffff;
  font-size: 1.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.grid-item2 ul li {
  list-style: none;
  margin-top: 0.5rem;
}
.grid-item2 ul li i {
  color: #ffd90092;
}

/* Media query para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
  .grid-services {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
  }
  .grid-item2 {
    display: block;
  }
}

/* seccion restaurante*/
.grid-rest {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
  width: 80%;
  gap: 1.25rem;
  padding: 1.25rem;
  align-items: center;
  margin: 3rem auto;
}

Section.restaurant h1 {
  color: #ffd90092;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: "Cormorant Garamond", serif;
}

.grid-rest img {
  width: 90%;
  border: 0.063rem solid #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 0 10px 0 #ffd90092;
}

.grid-rest2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 0.5rem;
  color: #ffd90092;
}

.rest2 article {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  padding: 1.25rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.card-rest {
  display: none;
}

@media only screen and (max-width: 600px) {
  #restaurant {
    display: none;
  }

  .card-rest {
    flex: 0 0 50%;
    margin: 2rem auto;
    border: 1px solid #ffd90092;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 22.5rem;
    background: #232526;
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    background: linear-gradient(to bottom, #414345, #232526);
  }

  .card-rest h1 {
    font-size: 2.5rem;
    font-family: "Cormorant Garamond", serif;
    color: #ffd90092;
  }
  .rest-content {
    padding: 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .rest-content article {
    font-size: 1.3rem;
    color: white;
    text-align: start;
  }
  .rest-content img {
    width: 20rem;
  }
  .card-rest .footer {
    padding: 1.25rem;
  }

  .btnModal {
    margin-top: 1rem;
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
    padding: 0.625rem 1.25rem;
    border: 1px solid #ffffff;
    width: 80%;
  }

  .btnModal:hover {
    background-color: #ffffff;
    color: #000000;
  }
}
/*media queries para dispositivos medianos*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .grid-rest {
    display: grid;
    grid-template-columns: 1fr;
  }
  .rest2 {
    order: 1;
  }
  .rest1 {
    display: flex;
    justify-content: center;
    order: 2;
  }
  .rest1 img {
    width: 25rem;
  }
}

/* Seccion eventos */
.grid-event {
  display: grid;
  grid-template-columns: 1fr 1fr; /*Dos columnas de una fraccion cada una */
  width: 80%;
  gap: 1.25rem;
  padding: 1.25rem;
  align-items: center;
  margin: 3rem auto; /* Centrar el contenedor */
}

Section.eventos h1 {
  color: #ffd90092;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: "Cormorant Garamond", serif;
}

.grid-event img {
  width: 90%;
  border: 0.063rem solid #ffffff;
  border-radius: 0.625rem;
  box-shadow: 0 0 10px 0 #ffd90092;
}
.grid-event1 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar verticalmente */
}

.event1 article {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  padding: 1.25rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.card-event {
  display: none;
}

@media only screen and (max-width: 600px) {
  #eventos {
    display: none;
  }

  .card-event {
    flex: 0 0 50%;
    margin: 2rem auto;
    border: 1px solid #ffd90092;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 22.5rem;
    background: #232526;
    background: -webkit-linear-gradient(to bottom, #414345, #232526);
    background: linear-gradient(to bottom, #414345, #232526);
  }
  .card-event h1 {
    font-size: 2.5rem;
    font-family: "Cormorant Garamond", serif;
    color: #ffd90092;
  }
  .event-content {
    padding: 0.5rem;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .event-content article {
    font-size: 1.3rem;
    color: white;
    text-align: start;
  }
  .event-content img {
    width: 20rem;
  }
  .card-event .footer {
    padding: 1.25rem;
  }

  .btnModal {
    margin-top: 1rem;
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
    padding: 0.625rem 1.25rem;
    border: 1px solid #ffffff;
    width: 80%;
  }

  .btnModal:hover {
    background-color: #ffffff;
    color: #000000;
  }
}
/*media queries dispositivos medianos*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .grid-event {
    display: grid;
    grid-template-columns: 1fr;
  }
  .event2 {
    display: flex;
    justify-content: center;
  }
  .event2 img {
    width: 25rem;
  }
}

.grid-iframe {
  background: #000000;
  background: -webkit-linear-gradient(to bottom, #434343, #000000);
  background: linear-gradient(to bottom, #434343, #000000);
  padding: 1.875rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto; /* Centrar el contenedor */
  align-items: center;
}
.iframe-container {
  margin: 2rem;
}

.grid-iframe h1 {
  font-size: 2.5rem;
  color: #ffd90092;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

.grid-iframe h2,
h4 {
  color: #ffffff;
}
.locacion h2,
h4 i {
  text-align: start;
  margin: 1rem;
}
.locacion .fa-solid {
  color: rgba(255, 0, 0, 0.548);
}

/*media queries dispositivos pequeños*/
@media only screen and (max-width: 600px) {
  .grid-iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .map {
    width: 100%;
    height: 200px;
  }

  .locacion h2,
  .locacion h4,
  i {
    display: none;
  }
}

/* Estilos para pantallas medianas */
@media only screen and (max-width: 992px) {
  .grid-iframe {
    grid-template-columns: 1fr;
    width: 80%;
  }
  .locacion h2,
  .locacion h4,
  i {
    display: none;
  }
  .map {
    width: 100%;
  }
  .iframe-container {
    display: flex;
    justify-content: center;
  }
}

/* contenedor con la info del hotel */
.info-container {
  background-color: #403b4a4d;
  display: grid;
  grid-template: 1fr 2fr, repeat(3, 1fr);
  grid-template-areas:
    "top top top"
    "izq medio der";
  gap: 1.25rem;
  width: 80%;
  padding: 1.25rem;
  margin: 3rem auto; /* Centrar el contenedor */
}

.top {
  grid-area: top;
  text-align: center;
  color: #ffd90092;
}

.top h1 {
  font-size: 2.5rem;
  font-family: "Cormorant Garamond", serif;
}

.izq {
  grid-area: izq;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 1.2rem;
}
.medio {
  grid-area: medio;
  text-align: center;
}
.medio h4 {
  font-size: 1.2rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.medio i {
  color: #ffd90092;
}

.der {
  grid-area: der;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  font-size: 1.2rem;
}

.izq ul li,
.der ul li {
  list-style: none;
  margin-top: 0.5rem;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.izq ul li i,
.der ul li i {
  color: #ffd90092;
}

/* Media query para pantallas más pequeñas*/
@media only screen and (max-width: 600px) {
  .info-container {
    grid-template: auto / 1fr; /* Cambia a una sola columna */
    grid-template-areas:
      "top"
      "izq"
      "der";
    gap: 1rem;
    padding: 1rem;
    width: 100%;
  }

  .izq,
  .der {
    flex-direction: column;
    align-items: start;
    text-align: start;
  }
  .medio {
    display: none;
  }
}

/*media queries para pantallas mediadas*/
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .info-container {
    grid-template: 1fr 2fr / 1fr 1fr;
    grid-template-areas:
      "top top "
      "izq der";
    gap: 1rem;
    padding: 1rem;
    width: 100%;
  }
  .izq,
  .der {
    align-items: center;
    text-align: start;
  }
  .medio {
    display: none;
  }
}

/*contenedor del footer*/
.foot-container {
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  width: 100%;
  display: grid;
  grid-template: 4.25rem 15rem / 0.8fr 0.8fr 0.8fr;
  grid-template-areas:
    "up up up"
    "left center right";
  gap: 2rem;
  margin: 0 auto;
}

.up {
  grid-area: up;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.footer-logo {
  width: 10rem;
  margin-top: 1.2rem;
}

.left {
  grid-area: left;
  display: flex;
  justify-content: center;
}

.left ul li {
  list-style: none;
  margin-top: 0.5rem;
}

.right {
  grid-area: right;
  text-align: center;
}

.right ul {
  display: flex;
  justify-content: center;
}

.right ul li {
  list-style: none;
}

.center {
  grid-area: center;
  text-align: center;
}

.list-title {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.center img {
  width: 5rem;
  border-radius: 15%;
  margin-top: 0.5rem;
}

/*íconos de las redes sociales en el footer*/
.fa-brands {
  margin-top: 1rem;
  padding: 0.313rem;
  color: #ffffff;
}

.fa-brands:hover {
  color: #fbff00c0;
}

.line {
  border-top: 0.063rem solid #ffffff;
  padding: 0;
}

/*final del footer*/
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  gap: 20px;
}
.item {
  color: white;
  text-align: center;
}
.copyright img {
  width: 4rem;
}

/* Media query para pantallas más pequeñas*/
@media only screen and (max-width: 600px) {
  .foot-container {
    grid-template: auto / 1fr;
    grid-template-areas:
      "up"
      "left"
      "right";
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .up {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left,
  .right {
    text-align: center;
  }
  .right {
    margin-bottom: 1.5rem;
  }
  .footer-logo {
    width: 10rem;
    margin-top: 0.5rem;
  }
  .center {
    display: none;
  }
  .line {
    margin-top: -1rem;
  }
  .copyright {
    flex-direction: column;
    text-align: center;
  }
  .copyright img {
    margin-top: -1rem;
  }
}
/*media queries para dispositivos medianos*/
@media only screen and (min-width: 600px) and (max-width: 992px) {
  .foot-container {
    grid-template: 4.25rem 15rem / 1fr 1fr;
    grid-template-areas:
      "up up"
      "left right";
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .footer-logo {
    width: 10rem;
    margin-top: 0.5rem;
    margin-left: -6rem;
  }
  .up {
    margin-top: 1rem;
  }
  .right {
    margin-bottom: 1.5rem;
  }
  .center {
    display: none;
  }
  .line {
    margin-top: -1rem;
  }
  .copyright {
    flex-direction: column;
    text-align: center;
  }
  .copyright img {
    margin-top: -1rem;
  }
}
